body{
    background-color: #faf3f4;
}
.wrapper{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    overflow: hidden;
    position: relative;

    &--list{
        background-color: white;
        box-shadow: 5px 5px 10px hsla(271, 69%, 15%, 0.274);
        border-radius: 15px;
        padding: 2rem 1rem;
        width: 100%;

        & ul{
            text-align: left;
            padding: 0 2rem;
            margin-top: 1rem;
        }

        & li{
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 1rem;
            text-transform: capitalize;
            padding-bottom: 1rem;
            border-bottom: 2px solid #ddd4d5;
        }
    }
}

form{
    max-width: 900px;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input, .btn, select{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 5px 5px 1px hsla(271, 69%, 15%, 0.274);
    border: none;
    border-radius: 5px;
}

input{
    width: 65%;
    position: relative;
    text-align: center;
}

select{
    width: 35%;
}

.label{
    position: absolute;
    top: 0;
    translate: 0 -50%;
    left: 4%;
    z-index: 55;
    color: white;
    font-size: 14px;
    padding: .3rem .5rem;
    border-radius: 25px;

    &--name{
        background-color: rgb(24, 153, 65);
    }
    &--espece{
        background-color: rgb(90, 110, 228);
    };
    &--age{
        background-color: rgb(202, 43, 96);
    };
}

.input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.input-wrapper input {
    padding-right: 30px;
}


input:focus{
    outline: 2px solid rgb(76, 175, 107);
    box-shadow: 3px 3px 18px hsla(271, 69%, 15%, 0.5);
}

input::selection {
    background: rgb(76, 175, 107);
    color: #fff;
  }

.btn{
    background-color: rgba(182, 250, 203, 0.747);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    transition: .3s all ease-in-out;
    cursor: pointer;

    &--delete{
        color: red;
        font-size: 22px;
        cursor: pointer;
        transition: .3s all ease-in-out;

        &:hover{
            color: rgb(110, 3, 3);
        }
    }
}

.btn:hover{
    background-color: rgba(54, 75, 61, 0.747);
    color: white;
}

h1{
    padding-top: 2rem;
}
h2 {
    margin-bottom: 1rem;
    & i{
    margin-right: 1rem;
}
}


.message{
    color: rgb(65, 3, 3);
    font-size: 20px;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}

.player{

    &__container{
        position: absolute;
    }

    &__name{
        position: absolute;
        right: -35%;
        padding: .5rem 1rem;
        background-color: beige;
        border: 1px solid white;
        border-radius: 25px;
    }

    &--main{
        .player__name{
            background-color: rgb(215, 212, 241);
        }
    }
    &__cards{
        width: calc((100px + 8px) * 3);
        height: 136px;
        position: relative;

    
        &--container{
            display: flex;
            gap: 0.5rem;
            position: absolute;
        }
    }

    &__face-down{
        bottom: 110%;
        right: 1%;
    }

    &__face-up{
        bottom: 105%;
    }

}

.card{
    width: 100px;
    transition: .3s all ease-in-out;
    cursor: pointer;

    img{
        border-radius: 10px;
        transition: .3s all ease-in-out;

        &:hover{
            transform: translateY(-5%);
            box-shadow: 0px 0px 10px rgb(184, 178, 238);;
        }
    }
    
}

#player{

    &-1{
        bottom: 0;
        left: 50%;
        translate:-50% 0;
    }
    &-2{
        left: -4.8%;
        top: 50%;
        translate:0 -50%;
        rotate:(90deg);
    }
    &-3{
        top: 0;
        left: 50%;
        translate:-50% 0;
        rotate:(180deg);
    }
    &-4{
        right: -4.8%;
        top: 50%;
        translate:0 -50%;
        rotate:(-90deg);
    }
    // &-5{

    // }
}